.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

     
    padding: 20px;
    text-align: center;
    background-image :url("https://img.freepik.com/premium-vector/boy-filling-online-exam-paper-flat-illustration_203633-7625.jpg"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIaBnq5oSZHPywNIWnl5GWCiNPutspC9qOHi70zXkjepSNuU6EiSitWqsD4eXnIugcdmo&usqp=CAU");
 
    background-size: 300px,150px;
  
    background-position: bottom left,top right;
     background-repeat: no-repeat,no-repeat;
     
    border: 2px solid;
    padding-top: 20px;
}
form{
   
    margin:10% 20% 20% 40%;
   
    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-right:20px;
    color: rgb(107, 107, 202);
}
li{
padding: 30px;


}
button{
    border-radius: 20px;
    background-color: rgba(120, 173, 247, 0.84);
    color: aliceblue;
    font-size: 15px;
}
.edit{
    margin:20px;
   
  
}

input{
    font-size: 15px;
    border-radius: 20px ;
    border-color: rgb(135, 193, 255);
}

